In [1]:
import numpy as np
import pandas as pd

In [2]:
# URL from the Week 3 Assignment
# Assiging to a variable to make it easier to work with and modify as needed
url = "https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M"

In [3]:
# Using Pandas read_html function to read in the tabular contents of the variable: url into a dataframe
dfs = pd.read_html(url)

In [4]:
# Checking the count of tables that were found on the website
# Looks like there are three distinct tables
len(dfs)

3

In [5]:
# Setting up Pandas to display all Columns instead of truncating them
pd.options.display.max_columns = None

In [6]:
# The table we want is the first one so we will limit the dataset to the first index
dfs[0]

,Postal Code,Borough,Neighborhood
0,M1A,Not assigned,NaN
1,M2A,Not assigned,NaN
2,M3A,North York,Parkwoods
3,M4A,North York,Victoria Village
4,M5A,Downtown Toronto,"Regent Park, Harbourfront"
...,...,...,...
175,M5Z,Not assigned,NaN
176,M6Z,Not assigned,NaN
177,M7Z,Not assigned,NaN
178,M8Z,Etobicoke,"Mimico NW, The Queensway West, South of Bloor,..."
179,M9Z,Not assigned,NaN

In [7]:
# Create a distinct Dataframe with just the postal data in it
postalDF = dfs[0]

In [8]:
postalDF.head()

  Postal Code           Borough               Neighborhood
0         M1A      Not assigned                        NaN
1         M2A      Not assigned                        NaN
2         M3A        North York                  Parkwoods
3         M4A        North York           Victoria Village
4         M5A  Downtown Toronto  Regent Park, Harbourfront

In [9]:
#Loading in the GeoSpatial data from http://cocl.us/Geospatial_data
geoData = pd.read_csv('GeoSpatial_Coordinates.csv')

In [10]:
# Reviewing the dataset
geoData.head()

  Postal Code   Latitude  Longitude
0         M1B  43.806686 -79.194353
1         M1C  43.784535 -79.160497
2         M1E  43.763573 -79.188711
3         M1G  43.770992 -79.216917
4         M1H  43.773136 -79.239476

In [12]:
# Merging the Postal Data with the Geographical Data via the Postal Code
postalLocDF = pd.merge(postalDF, geoData, on = 'Postal Code', how = 'inner')

In [14]:
# Removing the max rows filter for data visualization purposes
pd.set_option('display.max_rows', None)

In [16]:
postalLocDF.head()

,Postal Code,Borough,Neighborhood,Latitude,Longitude
0,M3A,North York,Parkwoods,43.753259,-79.329656
1,M4A,North York,Victoria Village,43.725882,-79.315572
2,M5A,Downtown Toronto,"Regent Park, Harbourfront",43.654260,-79.360636
3,M6A,North York,"Lawrence Manor, Lawrence Heights",43.718518,-79.464763
4,M7A,Downtown Toronto,"Queen's Park, Ontario Provincial Government",43.662301,-79.389494