In [1]:
import numpy as np
import pandas as pd

In [2]:
# URL from the Week 3 Assignment
# Assiging to a variable to make it easier to work with and modify as needed
url = "https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M"

In [3]:
# Using Pandas read_html function to read in the tabular contents of the variable: url into a dataframe
dfs = pd.read_html(url)

In [4]:
# Checking the count of tables that were found on the website
# Looks like there are three distinct tables
len(dfs)

3

In [11]:
# Setting up Pandas to display all Columns instead of truncating them
pd.options.display.max_columns = None

In [5]:
# The table we want is the first one so we will limit the dataset to the first index
dfs[0]

,Postal Code,Borough,Neighborhood
0,M1A,Not assigned,NaN
1,M2A,Not assigned,NaN
2,M3A,North York,Parkwoods
3,M4A,North York,Victoria Village
4,M5A,Downtown Toronto,"Regent Park, Harbourfront"
...,...,...,...
175,M5Z,Not assigned,NaN
176,M6Z,Not assigned,NaN
177,M7Z,Not assigned,NaN
178,M8Z,Etobicoke,"Mimico NW, The Queensway West, South of Bloor,..."
179,M9Z,Not assigned,NaN

In [6]:
# Create a distinct Dataframe with just the postal data in it
postalDF = dfs[0]

In [16]:
postalDF.head()

  Postal Code           Borough               Neighborhood
0         M1A      Not assigned                        NaN
1         M2A      Not assigned                        NaN
2         M3A        North York                  Parkwoods
3         M4A        North York           Victoria Village
4         M5A  Downtown Toronto  Regent Park, Harbourfront